In [ ]:
import numpy as np
import pandas as pd
dataset=pd.read_csv('/content/finalSlot2.csv')
df  = dataset.drop_duplicates()
df['No of trips']=0

In [ ]:

for j in range(0,len(df['stop_id_modified_from'])):
  count=0
  for i in range(0,len(df['stop_id_modified_from'])):
    if((df['stop_id_modified_from'][i]==df['stop_id_modified_from'][j]) & (df['stop_id_modified_to'][i]==df['stop_id_modified_to'][j])):
      count+=1
  df['No of trips'][j]=count
df.to_csv('slot_7_00-7_20_trips.csv')

In [ ]:
df

        Unnamed: 0 route_id_modified  ...      speed  No of trips
0                0            100_18  ...  12.557498           80
1                1            100_18  ...  12.128182           80
2                2            100_18  ...  12.128182           80
3                3            100_18  ...  12.557498           80
4                4            100_18  ...  11.443527           80
...            ...               ...  ...        ...          ...
131412      131412              VJR6  ...  35.547501            0
131413      131413              VJR6  ...  38.353881            0
131414      131414              VJR6  ...  33.894130            0
131415      131415              VJR6  ...  33.894130            0
131416      131416              VJR6  ...  27.252985            0

[131417 rows x 8 columns]

In [ ]:
df.to_csv('pleasework.csv')

In [ ]:
dataset.drop_duplicates()

        Unnamed: 0 route_id_modified  ... time_modified      speed
0                0            100_18  ...      0.031389  12.557498
1                1            100_18  ...      0.032500  12.128182
2                2            100_18  ...      0.032500  12.128182
3                3            100_18  ...      0.031389  12.557498
4                4            100_18  ...      0.034444  11.443527
...            ...               ...  ...           ...        ...
131412      131412              VJR6  ...      0.011389  35.547501
131413      131413              VJR6  ...      0.010556  38.353881
131414      131414              VJR6  ...      0.011944  33.894130
131415      131415              VJR6  ...      0.011944  33.894130
131416      131416              VJR6  ...      0.018611  27.252985

[131417 rows x 7 columns]