In [ ]:
import pandas as pd
import numpy as np

In [ ]:
peak = pd.read_csv('slot_9_00-9_20_trips.csv')
non_peak = pd.read_excel('slot_07_00-07_20_trips.xlsx')

In [ ]:
peak['SRI']=0
peak

In [ ]:
for i in range(0,len(peak['stop_id_from'])):
  for j in range(0,len(non_peak['stop_id_modified_from'])):
    if((peak['stop_id_from'][i]==non_peak['stop_id_modified_from'][j]) & (peak['stop_id_to'][i]==non_peak['stop_id_modified_to'][j])):
      SRI=(1-(peak['speed'][i])/non_peak['speed'][j])*10
      peak['SRI'][i]=SRI

peak["SRI"] = pd.to_numeric(peak["SRI"], downcast="float")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in double_scalars
  after removing the cwd from sys.path.

In [ ]:
peak

       stop_id_from  stop_id_to  ... Number_of_trips       SRI
0             36156       38709  ...               9 -0.408163
1             36156       38709  ...               9  1.206897
2             36156       38709  ...               9  5.142857
3             36156       38709  ...               9  1.570248
4             36156       38709  ...               9  5.142857
...             ...         ...  ...             ...       ...
14367           880         823  ...               2  1.500000
14368           823         862  ...               2  2.857143
14369           823         862  ...               2  2.857143
14370         39593       39385  ...               1  0.000000
14371         39385       39387  ...               1  0.000000

[14372 rows x 7 columns]

In [ ]:
peak.to_csv('sri1.csv')

In [ ]:
for i in range(0,10):
  for j in range(0,11):
    if((peak['stop_id_from'][i]==non_peak['stop_id_modified_from'][j]) & (peak['stop_id_to'][i]==non_peak['stop_id_modified_to'][j])):
      SRI=(1-(peak['speed'][i])/23)*10
      peak['SRI'][i]=SRI

peak["SRI"] = pd.to_numeric(peak["SRI"], downcast="float")

In [ ]:
peak

       stop_id_from  stop_id_to  ... Number_of_trips       SRI
0             36156       38709  ...               9  3.704537
1             36156       38709  ...               9  4.681419
2             36156       38709  ...               9  7.062117
3             36156       38709  ...               9  4.901196
4             36156       38709  ...               9  7.062117
...             ...         ...  ...             ...       ...
14367           880         823  ...               2  1.500000
14368           823         862  ...               2  2.857143
14369           823         862  ...               2  2.857143
14370         39593       39385  ...               1  0.000000
14371         39385       39387  ...               1  0.000000

[14372 rows x 7 columns]

In [ ]:
peak.head(10)

   stop_id_from  stop_id_to  ... Number_of_trips       SRI
0         36156       38709  ...               9  3.704537
1         36156       38709  ...               9  4.681419
2         36156       38709  ...               9  7.062117
3         36156       38709  ...               9  4.901196
4         36156       38709  ...               9  7.062117
5         36156       38709  ...               9  5.774278
6         36156       38709  ...               9  5.395855
7         36156       38709  ...               9  5.395855
8         36156       38709  ...               9  6.095219
9         38709        2321  ...              22 -0.771581

[10 rows x 7 columns]